/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#about img {
    border-radius: 50%;
    margin-top: 1rem;
}

.project {
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

/*---Styling CTA Button---*/
.cta-button {
    /* Gaya Visual */
    background-color: #e74c3c: /* Warna Merah Kontras */
    color: white;
    fent-weight: bold;

    /* Ukuran dan Bentuk */
    padding: 8px 15px; /* Jarak di dalam tombol */
    border-radius: 5px; /* Sudut membulat */

    /* Efek Hover */
    transition: background-color 0.3x ease;
}

.cta-button:hover {
    background-color: #c0392b; /* Warna sedikit lebih gelap saat di-hover */
}

/*---Memastikan tomboltidak memiliki style link bawah */
.nav-cta a {
    text-decoration: none;
}

.menu-tugas {
    display: flex;
    gap: 20px;
}
